APP_NAME="Asaba Hustle"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://hustle.currencyopts.com
APP_TIMEZONE=Africa/Lagos
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_DOMAIN=hustle.currencyopts.com
REVERB_DOMAIN=ws.hustle.currencyopts.com

APP_IMAGE=yourdockerhubname/asaba-hustle
APP_IMAGE_TAG=latest
RUN_MIGRATIONS=true

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=asaba_hustle
DB_USERNAME=asaba
DB_PASSWORD=change_this_db_password
MYSQL_ROOT_PASSWORD=change_this_root_password

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database
CACHE_STORE=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_DOMAIN=hustle.currencyopts.com
SANCTUM_STATEFUL_DOMAINS=hustle.currencyopts.com

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply@hustle.currencyopts.com"
MAIL_FROM_NAME="${APP_NAME}"

NIGERIABULKSMS_USERNAME=
NIGERIABULKSMS_PASSWORD=
NIGERIABULKSMS_SENDER=
NIGERIABULKSMS_BASE_URL=https://portal.nigeriabulksms.com/api/

REVERB_APP_ID=398998
REVERB_APP_KEY=replace_this_reverb_key
REVERB_APP_SECRET=replace_this_reverb_secret
REVERB_HOST=reverb
REVERB_PORT=8080
REVERB_SCHEME=http
REVERB_SERVER_HOST=0.0.0.0
REVERB_SERVER_PORT=8080

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST=ws.hustle.currencyopts.com
VITE_REVERB_PORT=443
VITE_REVERB_SCHEME=https

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_PAYMENT_URL=https://api.paystack.co/transaction/initialize
PAYSTACK_VERIFY_URL=https://api.paystack.co/transaction/verify

FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_ENCRYPTION_KEY=
FLUTTERWAVE_BASE_URL=https://api.flutterwave.com/v3
